.top-products {
  position: relative;
  padding: 56px 0 40px;

  &__link {
    font-size: 28px;
    font-weight: 700;
    color: #000;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 25px;
  }

  &__link svg {
    margin-top: 6px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 40px;
    margin-bottom: 40px;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 232px;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: #fff;
  }

  &__likebtn {
    position: absolute;
    top: 14px;
    right: 10px;
    z-index: 100;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  &__likebtn:hover {
    opacity: 1;
  }

  &__likebtn svg path,
  &__likebtn svg path:first-child {
    pointer-events: none;
  }

  &__height {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 100%;
  }

  &__imagebox {
    overflow: hidden;
    width: 232px;
    border-radius: 8px;
    transition: all 0.3s ease;
    z-index: 6;
    pointer-events: none;
    background-color: #fff;
  }

  &__img {
    width: 100%;
    height: 309px;
    border-radius: 8px;
    transition: all 0.3s ease;
    z-index: 2;
    background-color: #fff;
  }

  &__item:hover &__img {
    transform: scale(1.02);
    border-radius: 8px 8px 0 0;
  }

  &__item:hover &__imagebox {
    border-radius: 8px 8px 0 0;
  }

  &__box {
    padding: 12px 7px 7px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 5px;
    border-radius: 0 0 8px 8px;
    transform: translateY(-3px);
    transition: all 0.3s ease;
    z-index: 5;
    pointer-events: none;
  }

  &__item:hover &__box {
    box-shadow: 2px 2px 20px #ececec;
  }

  &__name {
    font-size: 13px;
  }

  &__rating {
    width: 120px;
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 12px;
    color: #8b8e94;
    font-weight: 300;
    & span {
      padding-top: 3px;
    }
  }

  &__monthly mark {
    font-family: "Roboto";
    padding: 2px 6px 3px 6px;
    font-size: 11px;
    border-radius: 4px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-grow: 1;
  }

  &__prices {
    margin-top: 11px;
  }

  &__subprice {
    font-size: 12px;
    color: #757575;
    text-decoration: line-through;
  }

  &__price {
    font-weight: 500;
  }

  &__btnbasket {
    border-radius: 50%;
    padding: 3px 5px;
    border-radius: 50%;
    border: 1px solid #d6d7d8;
    background: transparent;
    cursor: pointer;
    pointer-events: all;
    z-index: 10;
  }

  &__btnbasket:hover {
    background: #0000000c;
  }

  &__addbox {
    height: 56px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
  }

  &__addbtn {
    font-family: "Inter";
    grid-column: 3 / 9;
    text-align: center;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background: #f1f1f2;

    &:hover {
      background-color: #76797f26;
    }

    &:active {
      background-color: #76797f33;
    }
  }

  &__adminbtns {
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
  }

  &__editbtn,
  &__deletebtn {
    padding: 10px 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    z-index: 2;
  }

  &__editbtn {
    background-color: #8967f0;
  }

  &__deletebtn {
    background-color: #f067a5;
  }

  &__ripple {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }

  &__ripple.active {
    top: 0.375px;
    left: 5.39999px;
    width: 24px;
    height: 24px;
  }
}

@keyframes like {
  0%,
  100% {
    transform: scale(1) translateZ(0);
  }
  50% {
    transform: scale(1.3) translateZ(0);
  }
}
