@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter";
  background-color: #fff;
}

.to-top {
  position: fixed;
  bottom: -5px;
  right: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  text-decoration: none;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  z-index: 110;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}
